/* navbar */
.register-btn {
    color: #289BDE;
}

.edu {
    color: #4A4A4A;
}

.nav-list-color {
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins';
    font-style: normal;
}


/* navbar end */